---
import Layout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'

import { Image } from 'astro:assets'
import bgMain3b from '../assets/bg_main_3b.webp'
const bgMain3bStyle = `background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(138,38,38,0.8), rgba(38,38,38,1)), url('${bgMain3b.src}');`
const bgMain3bStyleSrc = bgMain3b.src
const bgImgUrl = bgMain3bStyleSrc
---

<Layout title="JGS Technical LLC">
  <main>
    <div
      class="border-3 bg1 dark:bg1 flex h-80 items-center overflow-hidden bg-base-300 bg-cover bg-center bg-no-repeat"
    >
      <div class="container mx-auto flex-grow">
        <div class="shadow-2x2 bg-gray-800 bg-opacity-50 p-8 backdrop-blur-sm">
          <h1 class="pb-4 text-4xl md:text-6xl">jgs-technical</h1>
          <p>Practical application of technology and innovation.</p>
          <p>
            JGS Technical LLC is a small consultancy owned by Josh Sanderson, specializing in the
            design and implementation of computer software and hardware solutions.
          </p>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <div>Test</div>
    </div>
  </main>
</Layout>

<style define:vars={{ bgImgUrl: `url("${bgImgUrl}")` }}>
  .bg1 {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.75)
      ),
      var(--bgImgUrl);
  }

  :global(.dark) .bg1 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(38, 38, 38, 0.5),
        rgba(38, 38, 38, 0.75)
      ),
      var(--bgImgUrl);
  }
</style>
