---
import { ThemeToggle } from '../components-client/ThemeToggle/ThemeToggle'
//console.log('Astro.url', Astro.url)
---

<div class="bg-jgsblue-600 text-white dark:bg-jgsblue-800 dark:text-base-content">
  <div class="container mx-auto">
    <div class="navbar">
      <div class="navbar-start w-fit">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost sm:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path></svg
            >
          </div>
          <ul
            tabindex="0"
            class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow"
          >
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <h1 class="whitespace-nowrap text-xl">jgs-technical</h1>
      </div>
      <div class="navbar-start ml-8 hidden sm:flex sm:flex-grow">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="navbar-end relative flex flex-grow">
        <ThemeToggle client:only="react" />
      </div>
    </div>
  </div>
</div>
{
  /*
<div class="bg-jgsblue-200 dark:bg-jgsblue-800">
  <div class="container mx-auto">
    <div class="ml-4 mt-1 flex flex-grow items-center align-middle">
      <h1 class="pr-4 text-xl text-white dark:text-gray-900">jgs-technical</h1>
      <div class="flex-grow justify-start">
        <div
          class={`btn btn-link no-animation no-underline hover:no-underline ${Astro.url.pathname?.length > 2 ? 'hover:text-accent' : 'font-bold brightness-150'}`}
        >
          <a href="/">Home</a>
        </div>
        <div
          class={`btn btn-link no-animation no-underline hover:no-underline ${!Astro.url.pathname.startsWith('/contact') ? 'hover:text-accent' : 'font-bold brightness-150'}`}
        >
          <a href="/contact">Contact</a>
        </div>
        <div
          class={`btn btn-link no-animation no-underline dark:text-amber-400 hover:no-underline ${Astro.url.pathname.startsWith('/blog') ? 'hover:text-accent' : ''}`}
        >
          Test
        </div>
      </div>
      <div class="align-end">
        <ThemeToggle client:only="react" />
      </div>
    </div>
  </div>
</div>
*/
}
